<h1>Promises</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Promiser</th>
    <th>Status</th>
  </tr>
  <% @promises.each do |promise| %>
    <tr id="promise-<%= promise.id %>">
      <td>Promise: <%= link_to promise.title, "/promises/#{promise.id}" %></td>
      <td>Promised by: <%= promise.promiser %></td>
      <td>Status: <%= promise.status %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Add New Promise", new_promise_path %>
